/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*GLOBAL STYLES*/


html, body {
    height: 100%;
    background-color: #ffffff;
    font-family: 'Verdana', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

h1 {
   font-size: 35px;
	color: #006699;
}

h2 {

	color: #333;
}

h3 {
    font-size: 20px;
    color: #333;
    margin: 15px 0px 5px 0px; 
}

h4 {
    font-size: 15px; 
}


p {
    font-size: 13px;
    line-height: 20px;
    padding-top: 20px;
    color: #333;
}

p a {
	color: #006699;
	font-family: Verdana, Aria, sans-serif; 
	text-decoration: none;
}

p a:link {
	color: #006699;

}

p a:visited {
	color: #006699;

}

p a:hover {
	color: #33cccc;
    text-decoration: underline;
}

p a:active {
	color: #6699ff;
    text-decoration: underline; 
}


/*HEADER*/

#header-wrapper {
	width: 100%;
	/*border: 1px solid red;*/
    background-color: #006699;
    -webkit-box-shadow: 0 3px 3px 0 #999999;
    box-shadow: 0 3px 3px 0 #999999;
    position: fixed;
    top: 0;
    z-index: 999;

}

#header {
    background-color: #006699;
    width: 955px;
    margin: 0px auto;
    padding-top: 45px;
    /*border: solid 1px black;*/
    position: relative;
}

#header #logo {
	padding: 0px 0px 0px 5px;
    margin: 0px;
    float: left;
}


/******************** 
PRIMARY NAVIGATION 
********************/
#nav {
	background-color: #006699;
    padding-top: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 730px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.active-nav {
    background-color:#ffffff;
    color: #006699 !important;
}

#nav a {
	text-decoration: none;
	color: #ffffff;			
}

#nav ul {
	float: right;
    background-color: #006699;
}


#nav ul li {
	float: left;
	list-style-type: none;
	position: relative;
    
}

#nav ul li a  {
	text-decoration: none;
	display: block;
    padding: 5px 18px;
    border: solid 1px #006699;

}

#nav ul li a:hover  {
	background-color: #ffffff;
    color: #006699;

}

#nav ul li:hover ul {
	display: block;

}

#subnav {
    font-family: 'Verdana', 'Arial', sans-serif !important;
    font-weight: normal !important;
    font-size: 16px !important; 
	position: absolute;
	display: none;

}


#subnav li {
	width: 100%;
	font-size: 90%;
    text-align: left;
}

#nav ul li a:active {
	color: #33cccc;
}

#phone-num {
    float: left !important;
    padding: 0px !important;
    margin: 0px !important;
}

#phone-num li a {
    margin: 0px !important;
    padding: 5px 0px !important;
}

#phone-num li a:hover {
    color: #ffffff !important;
    background-color: #006699 !important;
}
	
/******************* 
HOME PAGE MAIN DIV 
*********************/


#wrapper {
	width: 945px;
    padding: 150px 0px 0px 0px;
    min-height: 100%;
	margin: 0px auto;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
   
}

.content{
	width: 100%;
    overflow: auto;
	background-color: #fff;
	margin-top: 40px;
	padding-bottom: 55px;
    
	
}
.right-col {
    width: 60%;
    float: left;
    padding: 0% 2% 0% 5%;
    overflow: auto;
	background-color: #fff;
	margin-top: 40px;
	padding-bottom: 55px;
}

.left-col {
    margin-top: 40px;
    padding-left: 2%;
    width: 30%;
	float: left;
	
}

.left-col.narrow {
    padding-left: 0 !important;
    width: 22% !important; 
}

.right-col.wide {
    width: 70%;
   
}
	
.left-col img {
     width: 100%;
    height: auto;
	margin-bottom: 40px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 2px 2px 2px #999;
-moz-box-shadow: 0px 2px 2px 2px #999;
box-shadow: 0px 2px 2px 2px #999;
}

.right-col ul li {
    font-size: 13px;
    color: #333;
    margin: 10px 0px 10px 0px;
}


/*********************** 
LEFT NAVIGATION 
**********************/

#sidenav {
    width: 206px;
	float: left;
    border-right: solid 1px #ccc;
    padding: 0px 0px 40px 0px !important;
    
}

#sidenav img {
	margin-left: 15px;
    width: 130px !important;
    height: 100px !important;
    box-shadow: none !important;
    border-radius: none !important;
    margin: 20px 0px 40px 20px;
}

#sidenav p {
   padding: 0px 5px 0px 10px;
}

#buttons {
    width: 100%;
	
}

#buttons li {
	list-style-type: none;
    
}

#buttons li a:link {
	text-decoration: none;
	text-align: left;
	display: block;
	color: #006699;
    padding: 8px 0px 8px 20px;
	}

#buttons li a:visited {
	color: #006699;
	text-decoration: none;
	}

#buttons li a:hover {
	color: #ffffff;
    background-color: #006699;
	}
	
#buttons li a.activepage {
	color: #ffffff;
    background-color: #006699;
}

/***************************** 
MAIN DIV FOR ALL OTHER PAGES 
*****************************/

#accessories ul li {
	width: 250px;
	height: 315px;
	float: left;
	margin-top: 20px;
	/*border: 1px solid red;*/
	margin-right: 60px;

}

#accessories ul li img {
	padding-top: 15px;

}

#other_accessories {
	clear: both;
	padding-top: 40px;

}


/********************
CONTACT FORM
*****************/
form {
	width: 100%;
	min-height: 600px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 40px;
	padding-bottom: 40px;
	/*-webkit-box-shadow: 0px 5px 5px 5px #333;
-moz-box-shadow: 0px 5px 5px 5px #333;
box-shadow: 0px 5px 5px 5px #333;*/ 
}

fieldset ul {
	margin-top: 10px;
}

fieldset ul, fieldset li {
	border: 0px;
	padding: 0px;
	list-style-type: none;
	
}



fieldset label {
	width: 200px;
	display: inline-block;  
	/*labels are inline objects.  To maniupulate a label, make sure you change it to inline-block, like an image*/
	font-family: Verdana, Arial, sans-serif;
	color: #333;
	font-size: 90%;
	margin-left: 5px;
}

fieldset li {
	margin-bottom: 20px;
}

fieldset label.checkbox {
	display: inline;
	margin-left: 10px;

	
	
}

fieldset label.lbl {
	float: left;
	
	
}

/**********************************
 FOOTER STUFF 
 *********************************/
#footer {
	width: 100%;
	clear: both;
	height: 40px;
    margin-top: -40px;
	background-color: #666;
	position: relative;
}


#footer ul{
    width: 945px;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;	
}

#footer ul li {
    color: #fff;
	display: inline;
	margin-right: 20px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 90%;
	

}

#footer ul li a:link {
	text-decoration: none;
	color: #fff;
}
	
#footer ul li a:visited {
	color: #fff;
	
	
	}

#footer ul li a:hover {
	color: #99ccff;
	
	}

#footer ul li a:active {
	color: #006699;
}

/***********
THANK YOU PAGE
************/

#thanks {
	width: 600px;
	border: 1px solid #ccc;
    padding: 20px;
	min-height: 50px;
	margin: 0 auto;
    text-align:center;
}

#thanks img {
    width: 350px;
    margin: 20px auto;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 2px 2px 2px #999;
-moz-box-shadow: 0px 2px 2px 2px #999;
box-shadow: 0px 2px 2px 2px #999;
}


/*******************
miscellaneous wildcard classes
**************************/

li .tinytext {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

.tinytext {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	font-style: italic;
	
}

.gray {
	color: #333;
}

.blue { color: #006699;
}

.clearboth {
	clear: both;
}

.clearright {
	clear: right;
}

.clearleft {
	clear: left;
}
	
.blue_list li
{color: #006699
}
