/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*GLOBAL STYLES*/


html, body {
    height: 100%;
    background-color: #ffffff;
    font-family: 'Verdana', 'Arial', sans-serif;
}

h1 {
    font-size: 35px;
    color: #006699;
}

p {
    font-size: 13px;
    padding-top: 20px;
    color: #333;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px; 
}

li {
    font-size: 13px;
    color: #333;
}
/*HEADER*/

#header-wrapper {
	width: 100%;
	/*border: 1px solid red;*/
    background-color: #006699;
    -webkit-box-shadow: 0 3px 3px 0 #999999;
    box-shadow: 0 3px 3px 0 #999999;
    position: fixed;
    top: 0;
    z-index: 999;

}

#header {
    background-color: #006699;
    width: 955px;
    margin: 0px auto;
    padding-top: 45px;
    /*border: solid 1px black;*/
    position: relative;
}

#header #logo {
	padding: 0px 0px 0px 5px;
    margin: 0px;
    float: left;
}


/******************** 
PRIMARY NAVIGATION 
********************/
#nav {
	background-color: #006699;
    padding-top: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 730px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    

}

#nav a {
	text-decoration: none;
	color: #ffffff;
    font-size: 14px;
			
}

#nav ul {
	float: right;
    background-color: #006699;
}


#nav ul li {
	/*border: 1px solid blue;*/ 
	float: left;
	list-style-type: none;
	position: relative;
    
}

#nav ul li a  {
	text-decoration: none;
	display: block;
    padding: 5px 20px;

}

#nav ul li a:hover  {
	background-color: #99ccff;
    color: #006699;

}

#nav ul li:hover ul {
	display: block;

}

#subnav {
	position: absolute;
	display: none;

}


#subnav li {
	width: 100%;
	font-size: 90%;
    text-align: left;
}

	
#nav ul li a:visited {
	
	
}

#nav ul li a:active {
	color: #6699ff;
}


#phone {
    float: left !important;
    padding: 0px !important;
    margin: 0px !important;
}

#phone li a {
    margin: 0px !important;
    padding: 5px 0px !important;
}

#phone li a:hover {
    color: #ffffff !important;
    background-color: #006699 !important;
}
	
/******************* 
HOME PAGE MAIN DIV 
*********************/


#wrapper {
	width: 945px;
    padding: 150px 0px 0px 0px;
    min-height: 100%;
	margin: 0px auto;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
}

#index_main {
	width: 100%;
    overflow: auto;
	background-color: #fff;
	margin-top: 40px;
	padding-bottom: 55px;
	
	
}

#index_main .main_photo {
	width: 350px;
	height: 600px;
	float: right;
	margin-top: 85px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;

}

#index_main .main_photo img {
	padding: 0px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 3px 3px 3px #333;
-moz-box-shadow: 0px 3px 3px 3px #333;
box-shadow: 0px 3px 3px 3px #333;


}

#announce h3 a:link {
	color: #006699;
	text-decoration: none;

}

#announce h3 a:visited {
	color: #006699;
	text-decoration: none;

}

#announce h3 a:hover {
	color: #33cccc;
	text-decoration: none;
}


#index_main h1 {
	color: #006699;
	font-family: Verdana, Arial, sans-serif;
	padding-top: 35px;
	padding-left: 24px;	
}

#index_main h2 {
	color: #333;
	font-family: Verdana, Arial, sans-serif;
	padding-left: 24px;	
	margin-top: 20px;
	text-decoration: underline;
}

#index_main p {
	color: #333;
	font-family: Verdana, Arial, sans-serif;
	padding-top: 12px;
	padding-left: 24px;
	padding-right: 24px;
	
}

#index_main h3 {
	color: #006699;
	font-family: Verdana, Arial, sans-serif;
	padding-top: 20px;
	padding-left: 24px;	
}



#index_main ul {
	width: 400px;
	margin-left: 24px;
	margin-top: 10px;
	list-style-type: none;

}

#index_main li {
	color: #333;
	font-family: Verdana, Aria, sans-serif; 
	padding-bottom: 10px;
	}

#index_main ul li ul {
	color: #333;
	font-family: Verdana, Aria, sans-serif; 
	margin-left: 30px;
	font-size: 90%;
	}


/*********************** 
LEFT NAVIGATION 
**********************/


#sidenav {
    width: 206px;
	float: left;
    background-color: #999;
    margin-top: 0px !important;
}

#sidenav img {
	margin-left: 15px;
}

#buttons {
    width: 100%;
	
}

#buttons li {
	list-style-type: none;
    
}

#buttons li a:link {
	text-decoration: none;
	text-align: left;
	display: block;
	font-weight: bold;
	color: #fff;
    padding: 8px 0px 8px 15px;
	background-color: #999;
	}

#buttons li a:visited {
	color: #fff;
	background-color: #999;
	text-decoration: none;
	}

#buttons li a:hover {
	color: #ffffff;
    background-color: #006699;
	}
	
#buttons li a.activepage {
	color: #ffffff;
    background-color: #006699;
}

/***************************** 
MAIN DIV FOR ALL OTHER PAGES 
*****************************/

#main {
    width: 100%;
    overflow: auto;
	background-color: #fff;
	margin-top: 40px;
	padding-bottom: 55px;

}

#main h1 {
	color: #006699;
	font-family: Verdana, Arial, sans-serif;	
}

#main h2 {
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	padding-top: 15px;	
}

#main h3 {
	color: #006699;
	font-family: Verdana, Arial, sans-serif;
	padding-top: 20px;	
}

#main ul {
	margin-top: 10px;
	list-style-type: none;
	
}

#main li {
	color: #333;
	font-family: Verdana, Aria, sans-serif; 
	}



#main .main_photo {
    width: 100%;
    margin-top: 30px;
	float: left;
	/*border: 1px solid black;*/
}
	
#main .main_photo img {
	margin-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0px 3px 3px 3px #333;
-moz-box-shadow: 0px 3px 3px 3px #333;
box-shadow: 0px 3px 3px 3px #333;
}

#main #accessories ul {
	/*border: 1px solid black;*/
	width: 600px;

}

#main #accessories ul li {
	width: 250px;
	height: 315px;
	float: left;
	margin-top: 20px;
	/*border: 1px solid red;*/
	margin-right: 35px;

}

#main #accessories ul li img {
	padding-top: 15px;

}

#main #other_accessories {
	clear: both;
	padding-top: 40px;

}

.main-content {
    width: 70%;
    float: left; 
    padding-left: 40px;
    padding-bottom: 50px;
  
}

p a {
	color: #006699;
	font-family: Verdana, Aria, sans-serif; 
	text-decoration: none;
}

p a:link {
	color: #006699;

}

p a:visited {
	color: #006699;

}

p a:hover {
	color: #33cccc;
}

p a:active {
	color: #6699ff;

}




/********************
CONTACT FORM
*****************/
#form p {
	color: #333;
	font-family: Verdana, Arial, sans-serif;
	padding-top: 8px;
	padding-left: 24px;
	padding-right: 24px;
	/*border: solid 1px orange;*/
	
}

#form {
	width: 100%;
	min-height: 600px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 40px;
	padding-bottom: 40px;
	/*-webkit-box-shadow: 0px 5px 5px 5px #333;
-moz-box-shadow: 0px 5px 5px 5px #333;
box-shadow: 0px 5px 5px 5px #333;*/ 
}

#form h1 {
	color: #006699;
	font-family: Verdana, Arial, sans-serif;
	padding-top: 35px;
	margin-left: 24px;	
	/*border: solid 1px red;*/
}

#form fieldset {
	width: 700px;
	margin: 25px auto 25px;
	border: 1px solid black;	
}

#form fieldset legend {
	padding: 0px 5px;
}

#form fieldset ul {
	margin-top: 10px;
}

#form fieldset ul, fieldset li {
	border: 0px;
	padding: 0px;
	list-style-type: none;
	
}



#form fieldset label {
	width: 200px;
	display: inline-block;  
	/*labels are inline objects.  To maniupulate a label, make sure you change it to inline-block, like an image*/
	font-family: Verdana, Arial, sans-serif;
	color: #333;
	font-size: 90%;
	margin-left: 5px;
}

#form fieldset li {
	margin-bottom: 20px;
}

#form fieldset label.checkbox {
	display: inline;
	margin-left: 10px;

	
	
}

#form fieldset label.lbl {
	float: left;
	
	
}

#form fieldset legend {
	font-family: Verdana, Arial, sans-serif;
	color: #006699;
	font-size: 110%;
	margin: 5px 0px 25px 0px;
	
}





/**********************************
 FOOTER STUFF 
 *********************************/
#footer {
	width: 100%;
	clear: both;
	height: 55px;
    margin-top: -55px;
	background-color: #666;
	position: relative;
}


#footer ul{
	position: absolute;
	top: 6px;
	left: 245px;

	
}



#footer ul li {
	display: inline;
	margin-right: 20px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 90%;
	

}

#footer ul li a:link {
	text-decoration: none;
	color: #fff;
}
	
#footer ul li a:visited {
	color: #fff;
	
	
	}

#footer ul li a:hover {
	color: #99ccff;
	
	}

#footer ul li a:active {
	color: #006699;
}

/*#social {
	position: absolute;
	top: 20px;
	left: 354px;
}

#social img {
	float: left;
	padding: 5px;
}*/

/***********
THANK YOU PAGE
************/

#wrapper_thanks {
	background-image: url(img/wood/boards.jpg);
	background-repeat: repeat-y;
	width: 800px;
	min-height: 600px;
	margin: 0px auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
}

#thanks {
	width: 700px;
	/*border: 1px solid red;*/
	min-height: 50px;
	background-color: #666;
	background-color: rgba(50, 50, 50, 0.8);
	margin: 0 auto;
	

}

#thanks h2 {
	color: #fff;
	font-family:'MerriweatherLight';
	font-size: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;

}

#thanks a {
	color: #6699ff;
	font-family: Verdana, Aria, sans-serif; 
	text-decoration: none;
	margin-left: 270px;
}


#thanks a:hover {
	color: #fff;
}




#webmaster {
	position: absolute;
	bottom: 3px;
	left: 175px;
	margin: 0 auto;

}


#webmaster p {
	color: #fff;

}

#webmaster p a {
	color: #6699ff;

}

#webmaster p a:hover {
	color: #fff

}

/*******************
miscellaneous wildcard classes
**************************/

li .tinytext {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

.tinytext {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	font-style: italic;
	
}

.gray {
	color: #333;
}

.blue { color: #006699;
}

.clearboth {
	clear: both;
}

.clearright {
	clear: right;
}

.clearleft {
	clear: left;
}
	
.blue_list li
{color: #006699
}
